In [1]:
print ("Hello World")

Hello World

In [2]:
print('Hello Python!')

Hello Python!

In [3]:
message = 'Dhoraji Association Karachi'
print(message)

Dhoraji Association Karachi

In [4]:
name = "Shahzad Ahsan"
name = 'Muhammad Ali'
print(name)

Muhammad Ali

In [5]:
message = "Good Evening"
print(message)
message = 'How are you all?'
print(message)

Good Evening
How are you all?

In [6]:
First_name = "muhammad"
print(name.title())

Hamza Khan

In [7]:
First_name = 'HaMZa'
print(First_name.lower())

faraz

In [8]:
last_name = "khan"
print(last_name.upper())

KHAN

In [9]:
number = 120
print(number)

120

In [10]:
num_1 = 150 
print(num_1 + 20)

170

In [11]:
num_1 = 20
num_2 = 30 
num_3 = 40
print(num_1 + num_2 + num_3)

90

In [12]:
original_number = 15
new_number = 20
total = original_number + new_number
print(total)

35

In [14]:
num1 = 20
num2 = 50
new_num = num1 + num2 - 30
print(new_num)

40

In [16]:
num1 = 5
num2 = 4
num3 = 2
num4 = 7
num5 = 6
num6 = 10
total = (num1 * num2) + (num3 * num4) - num6 
print(total)

24

In [17]:
num = 10
another_num = 1.5
total = num + another_num
print(total)

11.5

In [22]:
FirstName = 'syEd'
MiddleName = 'zohAib'
LastName = 'owAiS'
full_name = FirstName + " " + MiddleName + " " + LastName
print(full_name)
print(full_name.title())
print(full_name.lower())
print(full_name.upper())

syEd zohAib owAiS
Syed Zohaib Owais
syed zohaib owais
SYED ZOHAIB OWAIS

In [25]:
F_name =  ' Shahzad'
L_name = 'Ahsan'
Full_name = F_name + " " + L_name
print("Hello , How are you" + Full_name + " ? ")

Hello , How are you Shahzad Ahsan ?

In [27]:
print("Hello , How are you" + Full_name.upper() + " ? ")

Hello , How are you SHAHZAD AHSAN ?

In [28]:
whats_left_over = 10 % 3
print(whats_left_over)

1

In [29]:
whats_left_over = 9 % 3
print(whats_left_over)

0

In [32]:
age = 2
age = age + 1
age += 1
print(age)

4

In [33]:
age = 12
age += 50
print(age)

62

In [34]:
age = 12
age -= 2
print(age)

10

In [36]:
age = 12
age *= 3
print(age)

36

In [37]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
message = "Hello, " + full_name.title() + "!"
print(message)

Hello, Ada Lovelace!

In [38]:
 print("Languages:\nPython\nRuby\nJavaScript")

Languages:
Python
Ruby
JavaScript

In [39]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Languages:
	Python
	C
	JavaScript